<div>
  <%= flash[:notice] %>
</div>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Boby:</strong>
  <%= @book.body %>
</p>



<p>
  <%= link_to "Edit", edit_book_path(@book.id) %>｜
  <a href="/books">Back</a>
</p>
